@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 18px;
  font-family:"Poppins", "sans-serif";
}

/* Nav Styling */
#navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
  margin-left: 5%;
  width: 90%;
}
#leftNav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#navLink{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 4rem;
}

.navList{
  margin: 0 1rem;
  color:  hsl(257, 7%, 63%);
  font-weight: 700;
}

.navList:hover{
  color: hsl(255, 11%, 22%);
  cursor: pointer;
  font-size: 1.1rem;
}

#rightNav{
  display: flex;
  justify-content: center;
  align-items: center;
}

#login{
  margin: 0 1rem;
  color:  hsl(257, 7%, 63%);
  font-weight: 700;
}

#login:hover{
  color: hsl(255, 11%, 22%);
  cursor: pointer;
  font-size: 1.1rem;
}

#SignUp{
  background-color: hsl(180, 66%, 49%);
  padding: .5rem 1rem;
  border-radius: 30px;
  color: #ffffff;
  font-weight: 700;
}

#SignUp:hover{
  opacity: .8;
  cursor: pointer;
}

/* Hero styling */
#heroSection{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-left: 5%;
  margin-bottom: 10%;
  width: 90%;
}


#leftHero{
  align-self: center;
}

#bigText{
  font-size: 4rem;
  line-height: 4.4rem;
  font-weight: 700;
  color:hsl(255, 11%, 22%) ;
}

#smallText{
  font-size: 1rem;
  text-align: left;
  color: hsl(257, 7%, 63%);
}

#getStarted{
  background-color: hsl(180, 66%, 49%);
  padding: .75rem 2rem;
  border: none;
  border-radius: 30px;
  margin-top: 2rem;
  color: #ffffff;
  font-weight: 700;
}

#getStarted:hover{
  opacity: .8;
  cursor: pointer;
}

#moveRight{
  width: 50%;
  margin-right: -5%;
}


/* Seacrh section */
#searchSection{
  background-color: hsl(260, 8%, 14%);
  background-image: url("../Resources/bg-shorten-desktop.svg");
  margin-left: 5%;
  width: 90%;
  margin-top: -9.5rem;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

#shortener{
  margin-left: 5%;
  width: 90%;
}

#shorten{
  width: 80%;
  height: 4rem;
  font-size: 1.3rem;
  padding: 1rem;
  border-radius: 10px;
  color: hsl(257, 7%, 63%);
}

#shortenButton{
  opacity: .8;
  width: 15%;
  height: 4rem;
  border-radius: 10px;
  font-size: 1.3rem;
  background-color: hsl(180, 66%, 49%);
  color: #ffffff;
  border: none;
  font-weight: 700;
}

#shortenButton:hover{
  cursor: pointer;
  opacity: 1;
}

/* Shortened Links Section */
#shortenedLinkSection{
  background-color: #ffffff;
  margin-left: 5%;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-top: 1%;
  padding:1% 2%;
}

#rightLink{
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  align-items: center;
}

#longLink{
  color: hsl(257, 27%, 26%);
  font-size: 1.3rem;
}

#shortenedLink{
  color: hsl(180, 66%, 49%);
  font-size: 1.3rem;
}

#copyButton{
  background-color: hsl(180, 66%, 49%);
  border: none;
  padding: .5rem 1.5rem;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  opacity: .8;
}

#copyButton:hover{
  cursor: pointer;
  opacity: 1;
}

/* Advanced stat */
#advancedStat{
  background-color: hsl(0, 0%, 75%);
  padding: 5rem 0;
}
#advancedHeader{
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#adHead{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: .5rem;
  color:  hsl(255, 11%, 22%);
}

#adParagraph{
  font-size: 1rem;
  margin-bottom: 3rem;
  color: hsl(257, 7%, 63%);
}

#totalCard{
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  width: 90%;
}

.eachCard{
  background-color: #ffffff;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.adIcons{
  background-color:  hsl(261, 23%, 29%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 1rem;
  margin-top: -3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adSubHead{
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: hsl(261, 23%, 29%);
}

#adSubParagraph{
  margin-bottom: 1.3rem;
  color: hsl(257, 7%, 63%);
}

.secondCard{
  margin-top: 5%;
}

#thirdCard{
  margin-top: 10%;
}

/* Boost Section */

#boostSection{
  background-color:  hsl(260, 8%, 14%);
  background-image: url("../Resources/bg-boost-desktop.svg");
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



#boostHead{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: .5rem;
  color: #ffffff;
}

#boostButton{
  opacity: .8;
  background-color: hsl(180, 66%, 49%);
  color: #ffffff;
  padding: .75rem 2rem;
  border: none;
  border-radius: 30px;
  justify-self: center;
  font-weight: 700;
}
#boostButton:hover{
  opacity: 1;
  cursor: pointer;
}

/* Footer Section */
footer{
  background-color:hsl(255, 11%, 22%);
}

#footer{
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  padding: 2% 0;
  width: 90%;
}

#footerRight{
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.footerCenter{
  display: flex;
  justify-content: space-evenly;
}

#footerLinksContainer{
  margin-right: 3rem;
}

.footLinkHeader{
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.footlinks{
  margin-bottom: .5rem;
  color: #ffffff;
}

.footlinks:hover{
  color: hsl(180, 66%, 49%);
  cursor: pointer;
}

.footerRightIcons{
  margin: 0 .2rem;
}

.footerRightIcons > path:hover{
  fill: hsl(180, 66%, 49%);
  cursor: pointer;
}

.attribution{
  text-align: center;
  color: #ffffff;
  padding-bottom: 1%;
}

#line{
  background-color: #ffffff;
  height: .2rem;
}

#footat{
  color: #ffffff;
}

#linkCards{
  height: 1rem;
  background-color: hsl(180, 66%, 49%);
  margin-left: 15%;
  width: 70%;
  border: none;
  margin-bottom: -17%;
  margin-top: 17%;
}