@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500;1,700&display=swap');


@media (max-width:768px) {
  *{
    font-size: 9px;
  }

  /* Nav Styling */
  #navLink ,
  #rightNav{
    display: none;
  }

  #side-nav{
      height: 100%;
      width: 0px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
  }

  #side-nav > li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  #side-nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  #side-nav li:hover {
    color: #f1f1f1;
  }

  #hamburger {
    cursor: pointer;
    background: transparent;
    border: none;
  }

  #hamburger:hover {
    cursor: pointer;
  }
  

  /* Hero styling */
  #heroSection{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin-left: 0;
    margin-bottom: 20%;
  }
  #moveRight{
    width: 100%;
    margin-left: -0%;
    margin-right: 0;
    margin-bottom: 10%;
  }
  #leftHero{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* Seacrh section */
#searchSection{
  background-image: url("../Resources/bg-shorten-mobile.svg");
}

form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#shortener{
  width: 80%;
  margin: 0;
}

#shorten{
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

#shortenButton{
  width: 100%;
  height: 3rem;
  border-radius: 5px;
}

#totalCard{
  display: flex;
  flex-direction: column;
}

.eachCard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.adIcons{
  width: 60px;
  height: 60px;
  margin-top: -4rem;
}

.adSubHead{
  font-size: 1.7rem;
  margin-bottom: 0;
}

#adSubParagraph{
  font-size: 1.5rem;
  margin: 1.8rem;
}

/* Boost Section */

#boostSection{
  background-image: url("../Resources/bg-boost-mobile.svg");
  height: 20rem;
}

/* Footer Section */
#footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  padding: 5% 0;
  width: 100%;
}

#footerRight{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footerCenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

#footerLinksContainer{
  margin-right: 0;
}
.footLinkHeader{
  margin-top:2.5rem;
}

.footerRightIcons{
  margin: 1rem 2rem;
}

}